@use  "./variables";

.articles{
    background-color: variables.$very-light-gray;
h2{
    margin: 1rem 0 2.3rem  ;
}
    .article{
        // border: 2px solid red;
        max-width: 30rem;
        // margin: auto;
        // text-align: center;
        //  border: 2px solid ;
     margin: 1.7rem auto;
     //  padding: 1.6rem 0 2rem;
      background-color: white;
      border-radius: variables.$border-radius;
      padding-bottom: calc(variables.$padding + 1rem);
 
     //  text-align: start;
     //  padding: ;

     img{
        width: 100%;
        max-width: 30rem;
        height: 55vw;
        max-height: 20rem;
        object-fit: cover;
        margin-bottom: .7em;
        border-radius: variables.$border-radius variables.$border-radius 0  0 ;
        // height: 13rem;
        // aspect-ratio: 90%;
        // border-radius: 10px;
     }   
     .content{
        text-align: start;
        font-size: .84em;
     }
     .title{
        font-size: 1.1em;
        // color: red;
        margin: 0  0 .5rem;
        font-weight: 500;

     }
     .author{
        font-size: .7em;
        font-weight: 400;

     }


     & *:not(img){
        padding: 0 calc(variables.$padding + .4rem);
        text-align: start;
     }
    
    }
}