@use "./variables";

.articles {
  background-color: variables.$very-light-gray;

  .article {
    max-width: 30rem;
    margin: 1.7rem auto;
    background-color: white;
    border-radius: variables.$border-radius;
    padding-bottom: calc(variables.$padding + 1rem);

    .article-img {
      width: 100%;
      max-width: 30rem;
      height: 54vw;
      max-height: 20rem;
      object-fit: cover;
      margin-bottom: 0.7em;
      border-radius: variables.$border-radius variables.$border-radius 0 0;

    }
    .content {
      text-align: start;
      font-size: 0.85em;
      line-height: 1.2rem;
    }
    .title {
      font-size: 1.1em;
      margin: 0 0 0.5rem;
      opacity: 0.9;
      font-weight: 500;
    }
    .author {
      font-size: 0.65em;
      font-weight: 400;
      color: variables.$grayish-blue;
      opacity: .9;
    }

    & *:not(img) {
      padding: 0 calc(variables.$padding + 0.4rem);
      text-align: start;
    }
  }
}
