@use "./variables";

.footer {
  background-color: variables.$dark-blue;
  padding: calc(variables.$padding + 1rem);
  text-align: center;

  #logo {
    //  logo text change default color to white
    #Path_1 {
      fill: variables.$white;
    }
  }

  .social-media {
    display: flex;
    justify-content: space-around;
    width: 70%;
    max-width: 20rem;
    min-width: 10rem;
    margin: calc(variables.$padding + 0.4rem) auto;

    & svg {
      width: 1.5em !important;
      height: 1.5em !important;
    }
  }

  .copy-right {
    display: block;
    color: variables.$grayish-blue;
    opacity: 0.9;

  }
  .contacts {
    padding: 0;

    .contact-link {
      list-style: none;
      color: variables.$light-grayish-blue;
      padding: calc(variables.$padding - 1rem) 0;
      margin: 0;
      font-weight: 300;
      opacity: 0.9;
    }
  }

  .invite-btn {
    margin: calc(variables.$padding + 0.4rem) 0;
  }

  @media all and (min-width: variables.$desktop-breakpoint) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-fit);
    justify-content: end;
    align-content: center;

    #logo {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .social-media {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 0;
      width: 45%;

      & svg {
        width: 2em !important;
        height: 2em !important;
      }
    }

    .contacts {
      grid-column: 2/3;
      grid-row: 1/3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      
      .contact-link{
        text-align: start;
      }
    }

    .invite-btn {
      grid-column: 3/4;
      grid-row: 1/2;
    }

    .copy-right {
      grid-column: 3/4;
      grid-row: 2/3;
    }

    & > * {
      justify-self: center;
      align-self: center;
    }
  }
}
