@use "./variables";

.footer {
  background-color: variables.$dark-blue;
  padding: calc(variables.$padding + 1rem);
  text-align: center;

  #logo {
    //  logo text change default color to white
    #Path_1 {
      fill: variables.$white;
    }
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    width: 70%;
    max-width: 20rem;
    min-width: 10rem;
    margin: calc(variables.$padding + .4rem) auto;

    & svg {
      width: 1.5em !important;
      height: 1.5em !important;
    }
  }

  .copy-right {
    display: block;
    color: variables.$grayish-blue;
    opacity: .9;
  }
  .contacts {
    padding: 0;

    .contact-link {
      list-style: none;
      color: variables.$light-grayish-blue;
      padding: calc(variables.$padding - 1rem) 0;
      margin: 0;
      font-weight: 300;
      opacity: .9;
    }
  }
  .invite-btn{
    margin: calc(variables.$padding + .4rem) 0;
  }
}
