@use "variables";

.main-header {
  background-color: variables.$white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$padding;
  z-index: 100;
  margin: 0;
  background-color: variables.$white;


  .menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }

  .menu-icon.active {
    display: block;
  }

  nav {
    left: 0;
    display: none;
    position: absolute;
    width: 100vw;
    height: 900%;
    top: 100%;

    background-image: linear-gradient(variables.$dark-blue, transparent);

    menu {
      padding: variables.$padding;
      width: 90vw;
      max-width: 30rem;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: variables.$very-light-gray;
      margin:  variables.$padding auto;
      border-radius: variables.$border-radius;
      z-index: 1;

      .nav-link {
        padding: calc(variables.$padding - 0.7em);
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }

  nav.active {
    display: flex;
  }
  .invite-btn {
    display: none;
  }

  @media all and (min-width: variables.$desktop-breakpoint) {
    display: flex;
    justify-content: space-between;
    padding: 0rem 9.6vw;

    .menu-icon-container {
      display: none;
    }

    .invite-btn {
      display: inline;
      margin: 0;
    }

    nav {
      position: relative;
      width: fit-content;
      height: auto;
      top: auto;
      left: auto;
      display: block;
      background-image: none;

      menu {
        flex-direction: row;
        max-width: fit-content;
        padding: 0;
        margin: 0;
        background-color: variables.$white;

        .nav-link {
          margin: 0 1.4rem;
          padding: 1.8rem 0 ;
          color: variables.$grayish-blue;
       
          &:hover::after{
            content: "";
            position: absolute;
            display: inline;
            width: 100%;
            height: 5px;
            background-image: linear-gradient(90deg,variables.$lime-green, variables.$bright-cyan);
            top: 96%;
            left: 0;
            border-radius: variables.$border-radius;

          }
        }
      }
    }
  }
}
