@use "./variables";
.intro{
    position: relative;
    // top: 0rem;
    margin: 0;

    background-image:url("../assets//images/image-mockups.png"), url("../assets/images/bg-intro-mobile.svg");
    background-size: 90vw, 100vw;
    background-position: center -32vw, 0 -18vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    background-color: variables.$very-light-gray;
    padding-bottom: 5.5rem !important;
    padding-top: 83% !important;

    .intro-title{
        font-size: 2.4em;
        text-align: center;
        font-weight: 400;
        margin: .5em 0 ;
   
    }
    .text-content{
        margin-bottom:variables.$padding + 1rem;
      
    }
   
    @media all and (min-width:variables.$desktop-breakpoint){
        // url("../assets/images/image-mockups.png"),
        background-image:   url("../assets/images/bg-intro-desktop.svg");

        background-size:80%;
        background-position: 47.5vw  -16.5vw  ;

        padding-top: 0;
        align-items: flex-start;
    }

    
}