@use "./variables";
.intro{
    position: relative;
    // top: 0rem;
    margin: 0;

    background-image:url("../assets//images/image-mockups.png"), url("../assets/images/bg-intro-mobile.svg");
    background-size: 90vw, 100vw;
    background-position: center -32vw, 0 -18vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content:flex-end;
    // align-items: center;
    flex-direction: column;
    background-color: variables.$very-light-gray;
    // padding-bottom: 2rem;
    // height: 100vh;
    // border: 2px solid red;
    // padding-bottom: 4rem;
    padding-top: 80%;
    
    h1{
        font-size: 2.4em;
        text-align: center;
        font-weight: 400;
        margin: .5em 0 ;
        // border:2px solid red;
    }
    .content{
        margin-bottom:variables.$padding + 1rem;
        // margin: 0;
    }
p{
    // border:2px solid red;

}
    .invite-btn{
        margin: 0   auto ;
        // border:2px solid red;

    }
}