@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap");
.main-header {
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 100;
  margin: 0;
  background-color: hsl(0deg, 0%, 100%);
}
.main-header .menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .menu-icon {
  display: none;
}
.main-header .menu-icon.active {
  display: block;
}
.main-header nav {
  left: 0;
  display: none;
  position: absolute;
  width: 100vw;
  height: 900%;
  top: 100%;
  background-image: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}
.main-header nav menu {
  padding: 1.5rem;
  width: 90vw;
  max-width: 30rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 98%);
  margin: 1.5rem auto;
  border-radius: 5px;
  z-index: 1;
}
.main-header nav menu .nav-link {
  padding: calc(1.5rem - 0.7em);
  font-size: 1.1em;
  font-weight: 600;
}
.main-header nav.active {
  display: flex;
}
.main-header .invite-btn {
  display: none;
}
@media all and (min-width: 1440px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 9.6vw;
  }
  .main-header .menu-icon-container {
    display: none;
  }
  .main-header .invite-btn {
    display: inline;
    margin: 0;
  }
  .main-header nav {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    top: auto;
    left: auto;
    display: block;
    background-image: none;
  }
  .main-header nav menu {
    flex-direction: row;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 0;
    margin: 0;
    background-color: hsl(0deg, 0%, 100%);
  }
  .main-header nav menu .nav-link {
    margin: 0 1.4rem;
    padding: 1.8rem 0;
    color: hsl(233deg, 8%, 62%);
  }
  .main-header nav menu .nav-link:hover::after {
    content: "";
    position: absolute;
    display: inline;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
    top: 96%;
    left: 0;
    border-radius: 5px;
  }
}

section.intro {
  position: relative;
  margin: 0;
  background-image: url("../assets//images/image-mockups.png"), url("../assets/images/bg-intro-mobile.svg");
  background-size: 90vw, 100vw;
  background-position: center -32vw, 0 -18vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 98%);
  padding-bottom: 5.5rem;
  padding-top: 83%;
}
section.intro .intro-title {
  font-size: 2.4em;
  text-align: center;
  font-weight: 400;
  margin: 0.5em 0;
}
section.intro .text-content {
  margin-bottom: 2.5rem;
}
@media all and (min-width: 1440px) {
  section.intro {
    background-image: url("../assets/images/bg-intro-desktop.svg");
    background-size: 75vw;
    background-position: 47.5vw -15.5vw;
    align-items: flex-start;
    height: 41vw;
    padding: 9vw 63vw 9vw 10vw;
    align-items: flex-start;
    justify-content: center;
  }
  section.intro::before {
    content: "";
    position: absolute;
    width: 40vw;
    height: 140vw;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: url("../assets/images/image-mockups.png");
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: -31% -8.5%;
  }
  section.intro .intro-title {
    text-align: start;
    font-size: 3rem;
  }
}

.features {
  background-color: hsl(220deg, 16%, 96%);
}
.features .features-title {
  width: 65vw;
  margin: auto;
}
.features .text-content {
  margin: 1.3rem auto 4rem;
  opacity: 0.9;
}
.features .feature {
  margin: 2rem 1rem;
}
.features .feature .content {
  margin: auto;
}
.features .feature .title {
  font-size: 1.35em;
  font-weight: 400;
}
@media all and (min-width: 1440px) {
  .features .features-title {
    margin: 0;
    text-align: start;
    font-size: 2.3rem;
  }
  .features .text-content {
    text-align: start;
    margin: 1rem 0;
  }
  .features .features-container {
    display: flex;
  }
  .features .features-container .feature {
    text-align: start;
    margin: 1rem;
  }
}

.articles {
  background-color: hsl(0deg, 0%, 98%);
}
.articles .article {
  max-width: 30rem;
  margin: 1.7rem auto;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 2.5rem;
}
.articles .article .article-img {
  width: 100%;
  max-width: 30rem;
  height: 54vw;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.7em;
  border-radius: 5px 5px 0 0;
}
.articles .article .content {
  text-align: start;
  font-size: 0.85em;
  line-height: 1.2rem;
}
.articles .article .title {
  font-size: 1.1em;
  margin: 0 0 0.5rem;
  opacity: 0.9;
  font-weight: 500;
}
.articles .article .author {
  font-size: 0.65em;
  font-weight: 400;
  color: hsl(233deg, 8%, 62%);
  opacity: 0.9;
}
.articles .article *:not(img) {
  padding: 0 1.9rem;
  text-align: start;
}
@media all and (min-width: 1440px) {
  .articles .articles-title {
    margin: 0 auto 3rem;
    font-size: 2.3rem;
    text-align: start;
  }
  .articles .articles-container {
    display: flex;
    justify-content: space-between;
  }
  .articles .articles-container .article {
    padding-bottom: 0;
    margin: 0 1rem;
  }
  .articles .articles-container .article:first-child {
    margin-left: 0;
  }
  .articles .articles-container .article:last-child {
    margin-right: 0;
  }
  .articles .articles-container .article .article-img {
    width: 100%;
    height: 50%;
  }
}

.footer {
  background-color: hsl(233deg, 26%, 24%);
  padding: 2.5rem;
  text-align: center;
}
.footer #logo #Path_1 {
  fill: hsl(0deg, 0%, 100%);
}
.footer .social-media {
  display: flex;
  justify-content: space-around;
  width: 70%;
  max-width: 20rem;
  min-width: 10rem;
  margin: 1.9rem auto;
}
.footer .social-media svg {
  width: 1.5em !important;
  height: 1.5em !important;
}
.footer .copy-right {
  display: block;
  color: hsl(233deg, 8%, 62%);
  opacity: 0.9;
}
.footer .contacts {
  padding: 0;
}
.footer .contacts .contact-link {
  list-style: none;
  color: hsl(220deg, 16%, 96%);
  padding: 0.5rem 0;
  margin: 0;
  font-weight: 300;
  opacity: 0.9;
}
.footer .invite-btn {
  margin: 1.9rem 0;
}
@media all and (min-width: 1440px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-fit);
    justify-content: end;
    align-content: center;
  }
  .footer #logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer .social-media {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    width: 45%;
  }
  .footer .social-media svg {
    width: 2em !important;
    height: 2em !important;
  }
  .footer .contacts {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .footer .contacts .contact-link {
    text-align: start;
  }
  .footer .invite-btn {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .footer .copy-right {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer > * {
    justify-self: center;
    align-self: center;
  }
}

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Public Sans", sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, .nav-link {
  color: hsl(233deg, 26%, 24%);
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.invite-btn {
  border: none;
  outline: none;
  padding: 0.9rem 2.2rem;
  font-weight: bold;
  border-radius: 100px;
  background-image: linear-gradient(110deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: hsl(0deg, 0%, 100%);
  margin: 0 auto;
}
.invite-btn:active::before {
  content: "";
  position: absolute;
  background-color: hsl(220deg, 16%, 96%);
  border-radius: inherit;
  opacity: 0.4;
  inset: 0;
}

.text-content {
  line-height: 1.65em;
  text-align: center;
  font-size: 0.98rem;
  word-spacing: 0px;
  margin: 0 auto;
  color: hsl(233deg, 8%, 62%);
  opacity: 0.9;
  max-width: 40rem;
}

.intro, .features, .articles {
  padding: 4.5rem 1.5rem;
  text-align: center;
}

.features-title, .articles-title {
  font-weight: 500;
  font-size: 1.95rem;
}

@media all and (min-width: 1440px) {
  .text-content {
    margin: 0;
    text-align: start;
  }
  .invite-btn {
    margin: 0;
  }
  .intro, .features, .articles {
    padding: 10vw;
  }
}/*# sourceMappingURL=style.css.map */